fastapi==0.111.0
uvicorn[standard]==0.29.0
anthropic>=0.50.0
python-dotenv==1.0.1
pydantic==2.7.1
aiofiles==23.2.1
aiosqlite==0.20.0
passlib==1.7.4
requests>=2.31.0
sentry-sdk[fastapi]>=2.0.0
numpy>=1.26
https://github.com/jfrancoiscollin/dilf/archive/de8fc953ee48eb0b84bc89f99804af4d6425f4a2.tar.gz
