fastapi==0.111.0
uvicorn[standard]==0.29.0
anthropic>=0.50.0
python-dotenv==1.0.1
pydantic==2.7.1
aiofiles==23.2.1
aiosqlite==0.20.0
passlib==1.7.4
requests>=2.31.0
sentry-sdk[fastapi]>=2.0.0
https://github.com/jfrancoiscollin/dilf/archive/191f69a1c91cd39dbc61c22d0ae0451a383804c7.tar.gz
